{% extends 'base.html' %}
{% load static %}


{% block main %}
<div class="container">

<div class="wrap-programmer">
    <div class="info-programmer">

        <h3     class=""
                data-aos="fade-right"
                data-aos-offset="60"
                data-aos-duration="3000">
            <small class="text-muted">Ism: </small>Rifkat

        </h3>
        <h3     class=""
                data-aos="fade-right"
                data-aos-offset="60"
                data-aos-duration="2000">
                <small class="text-muted">Sharif: </small>Aripjanovich

        </h3>
        <h3     class=""
                data-aos="fade-right"
                data-aos-offset="60"
                data-aos-duration="1700">
                <small class="text-muted">Familiya: </small>Saidjanov
        </h3>
        <h3     class=""
                data-aos="fade-right"
                data-aos-offset="60"
                data-aos-duration="1500">
                <small class="text-muted">Tug'ilgan sana: </small>1992.05.04
        </h3>
    </div>
    <div class="programmer-img"
                data-aos="flip-right"
                data-aos-offset="60"
                data-aos-duration="3000">

            <img class="img-colored" src="{% static 'recipe/img/s.jpg' %}" alt="rasm" width="100%" height="100%">
            <img class="img-colorless" src="{% static 'recipe/img/bs.jpg' %}" alt="rasm" width="100%" height="100%">
    </div>
</div>
</div>
{% endblock main %}








