<!--Bu maqolani o'chirishni tasdiqlash uchun saxifa-->

{% extends 'base.html' %}
{% load static %}


{% block title %}
{{ title }}
{% endblock title %}
<!--titleda saxifani nomi chiqishi uchun-->


{% block main %}
<div class="container">

<div class="confirm-div">
    <form action="" method="post">
        {% csrf_token %}
        <h1 class="text-center">
            Siz "{{recipe.title}}" maqolasini o'chirmoqchimisiz?
        </h1>
        <div class="buttons">
            <button class="btn btn-danger" type="submit">O'chirish</button>
            <a class="btn btn-primary" href="{{ recipe.get_absolute_url }}">Orqaga</a>
        </div>
    </form>
</div>
</div>
{% endblock main %}